$border: #EEEEEE;
$gray: #cccccc;
$darker: #777777;
$fontThicker: "Segoe UI Semibold", "Lao UI", serif;
body {
  padding: 0;
  margin: 0;
}

.container {
  font-family: "Microsoft JhengHei Light", serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;

  .fsymbol {
    font-size: 40rem;
    font-family: "Mf Queen Leela", serif;
    position: absolute;
    color: #cccccc;
    z-index: 5;
    left: -.2em;
    top: -50px;
    user-select: none;
  }

  .smaller {
    font-size: 30rem;
  }

  .opac {
    opacity: 0.2;
  }

  .header {
    z-index: 6;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid $border 2px;

    .lang {
      position: absolute;
      right: 1vw;
      height: 100%;
      font-family: "Lato", serif;
      display: flex;
      font-size: 1.4rem;
      align-items: center;
      padding: 0 10px;

      span {
        display: inline-flex;
        vertical-align: middle;
      }

      img {
        width: 40px;
        padding: 20px;
        vertical-align: middle;
      }
    }

    .nav {
      display: flex;
      position: relative;
      justify-content: center;
      margin-left: 1.2em;

      ul {
        justify-self: center;
        display: flex;
        justify-content: center;
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 1em;
        padding-inline-start: 0;
        flex-wrap: wrap;
        padding: 5px;
        text-align: center;
        list-style: none;

        .shop {
          display: flex;
          background-color: $border;
          border-radius: 10px;

          img {
            height: 1.2em;
            padding: 5px 15px;
            vertical-align: middle;
          }

          span {
            border-radius: 10px;
            height: 1.2em;
            color: white;
            background-color: #3e3e46;
            vertical-align: middle;
            display: block;
            line-height: 1.2;
            width: 1.2em;
            padding: 5px;
          }
        }

        li {
          margin: 0 20px;
        }
      }
    }
  }

  .hover {
    color: #c28fb8 !important;
  }

  .transparent {
    background-color: rgba(204, 204, 204, 0.34);
  }

  .half-slider {
    display: flex;
    flex: 1 1 auto;
    z-index: 6;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.34);
    position: relative;
    flex-wrap: wrap;

    .hs-wrapper {
      flex: 4 1 0;
      height: 700px;
      background: url("../../img/comp.jpg") no-repeat center;
      background-size: cover;
      width: 100%;

      .indicator {
        position: absolute;
        display: flex;
        left: 10px;
        bottom: 20px;
        flex-direction: column;

        .sl {
          width: 10px;
          height: 25px;
          background-color: $gray;
          border-radius: 50px;
          margin: 4px 10px;
          cursor: pointer;

          &:hover {
            background-color: $darker;
          }
        }

        .nsl {
          width: 10px;
          margin: 5px 10px;
          height: 75px;
          background-color: $darker;
          border-radius: 50px;
        }

      }
    }

    .hstext-wrapper {
      flex: 3 1 0;
      color: $darker;

      h1 {
        padding: 10% 10% 0 10%;
        font-size: 5rem;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      h6 {
        padding: 0 10% 10% 10%;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1.5rem;
        line-height: 1.8;
      }
    }


  }

  .portrait {
    width: 100%;
    height: 120vh;
    z-index: 6;
    background: url(../../img/tree.png) no-repeat right -20vw bottom -10vh;
    background-size: 120vh;
    background-color: #f8f8f8;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      padding: 15vw;
      vertical-align: middle;
    }

    h2 {
      font-size: 7rem;
      padding: 40px;
      font-family: "Mf Queen Leela", serif;
    }
  }

  .portrait2 {
    width: 100%;
    height: 800px;
    z-index: 6;
    background: url(../../img/flower.jpg) no-repeat right -20vw center;
    background-size: contain;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      padding: 15vw;
      vertical-align: middle;
    }

    h2 {
      font-size: 7rem;
      padding: 40px;
      font-family: "Mf Queen Leela", serif;
    }
  }

  .artboard {
    background-image: url("../../img/1.jpg");
    background-position: right -6rem bottom -18rem;
    background-size: 60%;
    height: 85vh;
    background-color: white;
    z-index: 0;
    position: relative;

    .title-wrapper {
      margin: 30vh 20vw 0 0;

      h1 {
        font-size: 7rem;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 1;
        color: $gray;
      }

      h6 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1.5rem;
        margin-left: 2em;
        color: #a7a7a7;
      }
    }

  }

  .slider {
    height: 800px;
    background-color: deeppink;
    width: 100%;
    margin-top: 100px;
    z-index: 6;
  }

  .sl1 {
    background-color: darkorange;
    height: 800px;
    margin: 0;
  }

  .sl2 {
    background-color: darkcyan;
    height: 800px;
    margin: 0;
  }

  .categories {
    .nonitalic {
      margin-top: 30px !important;
      font-style: normal !important;
      color: white !important;

    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.52) url(../../img/1.jpg) no-repeat right -10vw top fixed;
      background-blend-mode: lighten;
      transform: scale(1.5);
      filter: blur(10px);
    }

    font-family: $fontThicker;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;

    .title {
      margin-top: 100px;
      overflow: hidden;
      text-align: center;
      color: $darker;
      font-style: italic;
    }

    .regular {
      font-style: normal !important;
      font-family: "Lao UI", serif;
      font-size: 2.2rem;
      color: black;
    }

    .title:before,
    .title:after {
      content: "";
      display: inline-block;
      height: 3px;
      border-radius: 50px;
      position: relative;
      vertical-align: middle;
      width: 40%;
      background-color: $border;
    }

    .title:before {
      right: 0.5em;
      margin-left: -50%;
    }

    .title:after {
      left: 0.5em;
      margin-right: -50%;
    }

    .cats-title {
      width: 60vw;
      margin: auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-inline-start: 0;

        li {
          list-style: none;
          padding: 20px;
        }

        a {
          color: #3e3e46;
          font-size: 2.2rem;
          font-family: Lato;
          text-decoration: none;

          &:hover {
            color: #c28fb8;
          }
        }
      }


    }

    .items-wrapper {
      display: flex;
      margin: auto;
      width: 80vw;
      justify-content: space-around;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        width: 340px;
        align-items: center;
        margin: 25px;

        img {
          width: 100%;
          height: 320px;
          object-fit: contain;
          border-bottom: solid 3px #EEEEEE;
        }

        span {
          padding: 5px 10px;
          text-align: center;
        }

        .seemore {
          width: 100%;
          text-align: center;
          font-size: 1.5rem;
        }

        .seemore:before,
        .seemore:after {
          text-align: center;
          background-color: $darker;
          content: "";
          display: inline-block;
          height: 3px;
          position: relative;
          vertical-align: middle;
          width: 28%;
        }

        .seemore:before,
        .seemore:after {
          background-color: $border;
        }

        .seemore:before {
          right: 0.5em;
          margin-left: -50%;
        }

        .seemore:after {
          left: 0.5em;
          margin-right: -50%;
        }
      }

    }

    .cats-wrapper {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .cats {
      width: 420px;
      height: 320px;
      border-radius: 15px;
      margin: 10px 5px;
      background-color: rgba(0, 0, 0, 0.67);
      background-size: cover;
      background-blend-mode: multiply;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;

      .span {
        display: inline-flex;
        vertical-align: middle;
      }
    }


    #one, #six {
      background-image: url(../../img/ghandoon.jpg);
    }

    #two, #four {
      background-image: url("../../img/ring.jpg");
    }

    #three, #five {
      background-image: url("../../img/neck.jpg");

    }
  }

  .marginbackground {
    margin: 0;
    background-image: url("../../img/abdrobad.jpeg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.56);
    background-blend-mode: multiply;
    padding: 0;

    h5 {
      color: $border;
      text-align: center;
      padding: 20px 12%;
      line-height: 2;
    }
  }

  .noback {
    background: none;
  }

  .photo-gallery {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;

    .fluid {
      width: 100%;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .thumbnail {
      display: flex;
      //flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;

      .item {
        background-color: #ce79d3;
        flex: 1 1 0;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

  }

  .services {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;

    .delivery, .insurance {
      display: flex;
      justify-content: center;
      flex: 1 1 0;
      height: 33vw;
      align-items: center;
      font-size: 2.5rem;
      font-family: $fontThicker;

      h2 {
        padding: 5px;
      }
    }

    .insurance {
      background-color: $gray;
    }

    .delivery {
      background-color: $border;
    }

  }

  .customers {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    border-top: solid 5px #bc008c;
    margin-top: 40px;
    background-color: #a9a9a9;

    h2 {
      display: flex;
      flex: 1 1 0;
      color: white;
      padding: 60px;
      font-size: 4rem;
    }

    .logo-wrapper {
      display: flex;
      flex: 2 1 0;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
        margin: 20px;
      }
    }
  }

  .sponsorship {
    .title {
      margin-top: 20px;
      padding: 40px 20px;
      overflow: hidden;
      text-align: left;
      color: $darker;
      font-style: italic;
      font-size: 2rem;
    }

    .title:after {
      content: "";
      display: inline-block;
      height: 3px;
      border-radius: 50px;
      position: relative;
      vertical-align: middle;
      width: 100%;
      background-color: $border;
    }

    .title:after {
      left: 0.5em;
      margin-right: -50%;
    }

    .row {
      display: flex;
      flex: 1 1 0;

      .text-wrapper {
        display: flex;
        flex: 4 1 0;
        padding: 40px;
      }

      .image-wrapper {
        display: flex;
        flex: 3 1 0;
        padding: 20px 20px 0 20px;
        max-height: 300px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }


    }

  }

  .description {
    .title {
      margin-top: 100px;
      overflow: hidden;
      text-align: center;
      color: $darker;
      font-style: italic;
      font-size: 2rem;
    }

    .title:before,
    .title:after {
      content: "";
      display: inline-block;
      height: 3px;
      border-radius: 50px;
      position: relative;
      vertical-align: middle;
      width: 38%;
      background-color: $border;
    }

    .title:before {
      right: 0.5em;
      margin-left: -50%;
    }

    .title:after {
      left: 0.5em;
      margin-right: -50%;
    }

    h5 {
      padding: 5%;
      line-height: 2;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .text-wrapper {
      flex: 1 1 auto;

      .title {
        padding: 0 40px;
        overflow: hidden;
        text-align: left;
        color: $darker;
        font-style: italic;
        font-size: 2rem;
      }

      .title:after {
        content: "";
        display: inline-block;
        height: 3px;
        border-radius: 50px;
        position: relative;
        vertical-align: middle;
        width: 100%;
        background-color: $border;
      }

      .title:after {
        left: 0.5em;
        margin-right: -50%;
      }

      .details {
        padding: 40px;

        h5, h6 {
          margin-block-start: 0;
          margin-block-end: 0;
          padding: 10px;
        }

        h6 {
          color: $darker;
        }
      }


    }

    .map-wrapper {
      flex: 3 1 auto;
      background: url("../../img/photo galley (8).jpg") no-repeat;
      background-size: cover;
      margin: 25px;
      height: 500px;
    }
  }

  .footer {
    background-color: #3e3e46;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: solid 3px $border;

    .logo {
      flex: 3 1 0;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 115px;
        height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 15px #c3c3c8;
        border-radius: 50%;
        padding: 20px;
        color: white;
        margin: 120px 55px;

        span {
          font-family: $fontThicker;
          font-size: 1.2rem;
          align-items: center;
          vertical-align: middle;
        }
      }
    }

    .site-map {
      flex: 4 1 0;
      display: flex;
      flex-direction: column;

      span {
        color: white;
        display: block;
        padding: 50px 0 0 30px;
        font-size: 2.1rem;
        font-family: $fontThicker;
      }

      div {
        display: flex;
        flex-direction: row;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 5px 35px;
        flex-direction: column;

        li {
          width: 100%;
          margin: 5px;
          line-height: 1;
          margin: 9px -5px;
          white-space: nowrap;
          font-size: 1.2rem;

          a {
            color: white;
            text-decoration: none;
            padding: 4px 10px;
            border-radius: 15px;

            &:hover {
              border-radius: 15px;
              background-color: $darker;
            }
          }

        }
      }
    }

    .contact {
      flex: 4 1 0;
      display: flex;
      flex-direction: column;

      h2 {
        padding: 20px 0 0 50px;
        font-size: 2.1rem;
        color: white;
        margin-block-end: 0;
      }

      div {
        padding: 2px;

        h5 {
          font-size: 1.2rem;
        }

        h6 {
          font-size: 1rem;
        }

        h5, h6 {
          color: #fff;
          margin-block-start: 0;
          margin-block-end: 0;
          padding: 4px 50px;
        }
      }

      .c-logo {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 18%;

        div {
          width: 3px;
          height: 3px;
          margin: 15px 12px;
          border-radius: 50%;
          border: 17px solid $border;
        }
      }
    }
  }

  .copyright {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    background-color: #3e3e46;

    h6 {
      font-family: $fontThicker;
      padding: 13px;
      margin-block-end: 5px;
      margin-block-start: 5px;
      color: white;
    }
  }
}

@media all and (max-width: 1280px) {
  .container {
    .portrait, .portrait2 {
      h2 {
        font-size: 4rem;
        overflow: hidden;

      }

      img {
        width: 40vw;
      }
    }

    .half-slider {
      .hstext-wrapper {
        flex: 2 1 50%;

        h1 {
          font-size: 4rem;
        }

        h6 {
          font-size: 1.2rem;
        }
      }

      .hs-wrapper {
        flex: 2 1 50%;
      }
    }
  }


}

@media all and (max-width: 980px) {
  .container {

    .fsymbol {
      font-size: 20rem;
    }

    .header {

      ul {
        li {
          font-size: 1.1rem;
          margin: 0 15px !important;
        }
      }

      .lang {
        font-size: 0.8rem;

        img {
          width: 30px;
        }
      }
    }

    .portrait, .portrait2 {
      h2 {
        font-size: 3rem;
      }

      img {
        width: 30vw;
      }
    }

    .artboard {
      .title-wrapper {
        h1 {
          font-size: 4.5rem;
        }

        h6 {
          font-size: 1rem;
        }
      }
    }

    .services {
      h2 {
        font-size: 2.5rem;
      }
    }

    .half-slider {
      text-align: center;

      .hstext-wrapper {
        flex: 1 1 auto;

        h1 {
          font-size: 4rem;
        }

        h6 {
          font-size: 1.2rem;
        }
      }

      .hs-wrapper {
        flex: 1 1 auto;
        background-position-y: -100px;
        height: 500px;
      }
    }

    .info {
      .map-wrapper {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 736px) {
  .container {
    .fsymbol {
      font-size: 15rem;
    }

    .header {
      justify-content: flex-start !important;

      ul {
        li {
          margin: 0 5px !important;
        }
      }

      .lang {
        img {
          width: 20px;
        }
      }
    }


    .portrait, .portrait2 {
      height: 80vh;

      h2 {
        font-size: 2rem;
      }
    }

    .portrait2 {
      background-size: cover;
    }

    .artboard {
      .title-wrapper {
        margin: 0;

        h1 {
          font-size: 4rem;
        }

        h6 {
          font-size: 0.8rem;
        }
      }
    }

    .half-slider {
      .hs-wrapper {
        height: 400px;
      }
    }

    .sponsorship {
      .row {
        flex-direction: column-reverse;
      }
    }

  }
}

@media all and (max-width: 480px) {
  .container {
    .fsymbol {
      display: none;
    }

    .header {
      justify-content: center !important;
      flex-direction: column;
      text-align: center;

      .lang {
        display: block;
        position: relative;
      }
    }

    .portrait, .portrait2 {
      height: 60vh;

      h2 {
        padding: 20px;
        font-size: 1.5rem;
      }
    }

    .customers {
      h2 {
        font-size: 2.5rem;
        text-align: center;
        padding: 5px;
      }
    }

    .half-slider {
      .hs-wrapper {
        height: 200px;
      }
    }

  }
}

