$border: #EEEEEE;
$gray: #cccccc;
$darker: #777777;
$darkest: #454545;
$fontThicker: "Segoe UI Semibold", "Lao UI", serif;

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
  url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.woff2') format('woff2');
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, span, a, li {
  font-family: 'IRANSansWeb', "Microsoft JhengHei Light", serif;
}

@keyframes roller {
  0%, 100% {
    transform: translate(0, 0)
  }
  10%, 3.333% {
    transform: translate(0, -100%)
  }
  13.333%, 20% {
    transform: translate(0, -200%)
  }
  23.333%, 30% {
    transform: translate(0, -300%)
  }
  33.333%, 40% {
    transform: translate(0, -400%)
  }
  43.333%, 50% {
    transform: translate(0, -500%)
  }
  53.333%, 60% {
    transform: translate(0, -600%)
  }
  63.333%, 70% {
    transform: translate(0, -700%)
  }
  73.333%, 80% {
    transform: translate(0, -800%)
  }
  83.333%, 90% {
    transform: translate(0, -900%)
  }
  93.333%, 99.999% {
    transform: translate(0, -1000%)
  }
}

.container {
  font-family: 'IRANSansWeb', "Microsoft JhengHei Light", serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  direction: rtl;


  .fsymbol {
    font-size: 40rem;
    font-family: "Mf Queen Leela", serif;
    position: absolute;
    color: #cccccc;
    z-index: 5;
    left: -.2em;
    top: -50px;
    user-select: none;
  }

  .smaller {
    font-size: 30rem;
  }

  .opac {
    opacity: 0.2;
  }

  section.home {
    height: 100vh;
    width: 100%;
    background-image: url("../../img/girl.jpg");
    background-size: cover;
    background-position: center;

    .logo {
      position: absolute;
      margin: 10px 25px;
      left: 0;
      top: 0;

      img {
        width: 100px;
      }
    }

    .navbar {
      display: flex;
      width: 100%;
      justify-content: center;


      .nav {
        display: flex;
        position: relative;
        justify-content: center;
        margin-left: 1.2em;

        ul {
          justify-self: center;
          display: flex;
          justify-content: center;
          margin-block-start: 0;
          margin-block-end: 0;
          margin: 1.5em;
          padding-inline-start: 0;
          flex-wrap: wrap;
          padding: 5px;
          text-align: center;
          list-style: none;
          font-size: 1rem;
          color: white;
          font-family: "IRANSansWeb", "Microsoft JhengHei Light", serif;

          li {
            margin: 0 -5px;
            padding: 0 25px;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
              background-color: #3e3e46;
            }
          }
        }
      }
    }

    .description {
      position: absolute;
      width: 100%;
      height: 150px;
      bottom: 0;

      .home-title {
        color: white;
        margin-right: 100px;

        h1 {
          width: 400px;
          display: block;
          border-bottom: 1px solid rgba(255, 255, 255, 0.51);
          margin-block-start: 0;
          margin-block-end: 0;
          font-family: IRANSansWeb, "Lato", serif;;
          font-weight: bolder;
        }

        h6 {
          margin-block-start: 0;
          margin-block-end: 0;
          padding: 0;
          font-family: IRANSansWeb, "Lato", serif;
        }
      }

      .scroll {
        position: absolute;
        width: 50px;
        height: 50px;
        background-size: cover;
        background-image: url("../../img/scroll.png");
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 10px;
        cursor: pointer;
      }
    }
  }

  section.collection-home {
    background-image: url("../../img/exhibition.jpg");
    background-position: center 0;
    background-color: #d8d9d4;
    background-size: cover;
    background-repeat: no-repeat;
    height: 170vh;
    position: relative;

    .navbar {
      .nav {
        ul {
          color: #606357;
        }
      }
    }

    .shadow-text {
      position: absolute;
      bottom: 50px;
      right: 0;
      left: 0;
      font-size: 16vh;
      user-select: none;
      font-family: "Lao UI", serif;
      display: flex;
      justify-content: center;

      .wrapper {
        text-align: center;

        h1 {
          margin-block-start: 0;
          margin-block-end: 0;
          width: 50%;
          position: relative;
          transition: 0.4s ease;
        }

        .text {
          color: white;
          z-index: 2;
        }

        .shadow {
          transform: matrix3d(1, 0, 0, 0, -0.7, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          z-index: 1;
          opacity: 0.3;
          margin: -1.2em 0 0 0.28em;
          filter: blur(8px);
        }

      }

    }

    .shadow-text :hover .text {
      color: #dfefff;
    }

  }

  .header {
    z-index: 6;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid $border 2px;

    .lang {
      position: absolute;
      left: 1vw;
      height: 100%;
      font-family: IRANSansWeb, "Lato", serif;
      display: flex;
      font-size: 1.4rem;
      align-items: center;
      padding: 0 10px;

      span {
        display: inline-flex;
        vertical-align: middle;
      }

      img {
        width: 40px;
        padding: 20px;
        vertical-align: middle;
      }
    }

    .nav {
      display: flex;
      position: relative;
      justify-content: center;

      ul {
        justify-self: center;
        display: flex;
        justify-content: center;
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 1em;
        padding-inline-start: 0;
        flex-wrap: wrap;
        padding: 5px;
        text-align: center;
        list-style: none;

        .shop {
          display: flex;
          background-color: $border;
          border-radius: 10px;

          img {
            height: 1.2em;
            padding: 5px 15px;
            vertical-align: middle;
          }

          span {
            border-radius: 10px;
            height: 1.2em;
            color: white;
            background-color: #3e3e46;
            vertical-align: middle;
            display: block;
            line-height: 1.2;
            width: 1.2em;
            padding: 5px;
          }
        }

        li {
          margin: 0 20px;
        }
      }
    }
  }

  .hover {
    color: #c28fb8 !important;
  }

  .transparent {
    background-color: rgba(204, 204, 204, 0.34);
  }

  .half-slider {
    display: flex;
    flex: 1 1 auto;
    z-index: 6;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.34);
    position: relative;
    flex-wrap: wrap;

    .hs-wrapper {
      flex: 4 1 0;
      height: 700px;
      background: url("../../img/comp.jpg") no-repeat center;
      background-size: cover;
      width: 100%;

      .indicator {
        position: absolute;
        display: flex;
        left: 10px;
        bottom: 20px;
        flex-direction: column;

        .sl {
          width: 10px;
          height: 25px;
          background-color: $gray;
          border-radius: 50px;
          margin: 4px 10px;
          cursor: pointer;

          &:hover {
            background-color: $darker;
          }
        }

        .nsl {
          width: 10px;
          margin: 5px 10px;
          height: 75px;
          background-color: $darker;
          border-radius: 50px;
        }

      }
    }

    .hstext-wrapper {
      flex: 3 1 0;
      color: $darker;

      h1 {
        padding: 10% 10% 0 10%;
        font-size: 5rem;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      h6 {
        padding: 0 10% 10% 10%;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1.5rem;
        line-height: 1.8;
      }
    }


  }

  .portrait {
    width: 100%;
    height: 120vh;
    z-index: 6;
    background: url(../../img/tree.png) no-repeat left -20vw bottom -10vh;
    background-size: 120vh;
    background-color: #f8f8f8;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      padding: 10vw;
      vertical-align: middle;
    }

    h2 {
      font-size: 7rem;
      padding: 40px;
      font-family: IRANSansWeb, "Mf Queen Leela", serif;
    }
  }

  .portrait2 {
    width: 100%;
    height: 800px;
    z-index: 6;
    background: url(../../img/flower.jpg) no-repeat left -20vw center;
    background-size: contain;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      padding: 10vw;
      vertical-align: middle;
    }

    h2 {
      font-size: 7rem;
      padding: 40px;
      font-family: IRANSansWeb, "Mf Queen Leela", serif;
    }
  }

  .artboard {
    background-image: url("../../img/1.jpg");
    background-position: right -6rem bottom -18rem;
    background-size: 60%;
    height: 85vh;
    background-color: white;
    z-index: 0;
    position: relative;

    .title-wrapper {
      margin: 30vh 20vw 0 0;

      h1 {
        font-size: 7rem;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 1;
        color: $gray;
      }

      h6 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1.5rem;
        margin-right: 2em;
        color: #a7a7a7;
      }
    }

  }

  .slider {
    height: 120vh;
    background-color: deeppink;
    width: 100%;
    margin-top: 100px;
    z-index: 6;
  }

  .sl1 {
    background-color: darkorange;
    height: 800px;
    margin: 0;
  }

  .sl2 {
    background-color: darkcyan;
    height: 800px;
    margin: 0;
  }

  .categories {
    .nonitalic {
      margin-top: 30px !important;
      font-style: normal !important;
      color: white !important;

    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.52) url(../../img/1.jpg) no-repeat left -10vw top fixed;
      background-blend-mode: lighten;
      transform: scale(1.5);
      filter: blur(10px);
    }

    font-family: $fontThicker;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;

    .title {
      margin-top: 100px;
      overflow: hidden;
      text-align: center;
      color: $darker;
      font-style: italic;
    }

    .regular {
      font-style: normal !important;
      font-family: IRANSansWeb, "Lao UI", serif;
      font-size: 2.2rem;
      color: black;
    }

    .title:before,
    .title:after {
      background-color: $darker;
      content: "";
      display: inline-block;
      height: 3px;
      border-radius: 50px;
      position: relative;
      vertical-align: middle;
      width: 40%;
    }

    .title:before,
    .title:after {
      background-color: $border;
    }

    .title:before {
      left: 0.5em;
      margin-right: -50%;
    }

    .title:after {
      right: 0.5em;
      margin-left: -50%;
    }

    .cats-title {
      width: 60vw;
      margin: auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-inline-start: 0;

        li {
          list-style: none;
          padding: 20px;
        }

        a {
          color: #3e3e46;
          font-size: 2.2rem;
          font-family: Lato;
          text-decoration: none;

          &:hover {
            color: #c28fb8;
          }
        }
      }


    }

    .items-wrapper {
      display: flex;
      margin: auto;
      width: 80vw;
      justify-content: space-around;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        width: 340px;
        align-items: center;
        margin: 25px;

        img {
          width: 100%;
          height: 320px;
          object-fit: contain;
          border-bottom: solid 3px #EEEEEE;
        }

        span {
          padding: 5px 10px;
          text-align: center;
        }

        .seemore {
          width: 100%;
          text-align: center;
          font-size: 1.5rem;
        }

        .seemore:before,
        .seemore:after {
          text-align: center;
          background-color: $darker;
          content: "";
          display: inline-block;
          height: 3px;
          position: relative;
          vertical-align: middle;
          width: 28%;
        }

        .seemore:before,
        .seemore:after {
          background-color: $border;
        }

        .seemore:before {
          left: 0.5em;
          margin-right: -50%;
        }

        .seemore:after {
          right: 0.5em;
          margin-left: -50%;
        }
      }

    }

    .cats-wrapper {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .cats {
      width: 420px;
      height: 320px;
      border-radius: 15px;
      margin: 10px 5px;
      background-color: rgba(0, 0, 0, 0.67);
      background-size: cover;
      background-blend-mode: multiply;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;

      .span {
        display: inline-flex;
        vertical-align: middle;
      }
    }


    #one, #six {
      background-image: url(../../img/ghandoon.jpg);
    }

    #two, #four {
      background-image: url("../../img/ring.jpg");
    }

    #three, #five {
      background-image: url("../../img/neck.jpg");

    }
  }

  .marginbackground {
    margin: 0;
    background-image: url("../../img/abdrobad.jpeg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.56);
    background-blend-mode: multiply;
    padding: 0;

    h5 {
      color: $border;
      text-align: center;
      padding: 20px 12%;
      line-height: 2;
    }
  }

  .noback {
    background: none;
  }

  .photo-gallery {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;

    .fluid {
      width: 100%;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .thumbnail {
      display: flex;
      //flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;

      .item {
        background-color: #ce79d3;
        flex: 1 1 0;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

  }

  .services {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;

    .delivery, .insurance {
      display: flex;
      justify-content: center;
      flex: 1 1 0;
      height: 33vw;
      align-items: center;
      font-size: 2.5rem;
      font-family: $fontThicker;

      h2 {
        padding: 5px;
      }
    }

    .insurance {
      background-color: $gray;
    }

    .delivery {
      background-color: $border;
    }

  }

  .customers {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    border-top: solid 5px #bc008c;
    margin-top: 40px;
    background-color: #a9a9a9;

    h2 {
      display: flex;
      flex: 1 1 0;
      color: white;
      padding: 60px;
      font-size: 4rem;
      white-space: nowrap;
    }

    .logo-wrapper {
      display: flex;
      flex: 2 1 0;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
        margin: 20px;
      }
    }
  }

  .sponsorship {
    .title {
      margin-top: 20px;
      padding: 40px 20px;
      overflow: hidden;
      text-align: right;
      color: $darker;
      font-style: italic;
      font-size: 2rem;
    }

    .title:after {
      content: "";
      display: inline-block;
      height: 3px;
      border-radius: 50px;
      position: relative;
      vertical-align: middle;
      width: 100%;
      background-color: $border;
    }

    .title:after {
      right: 0.5em;
      margin-left: -50%;
    }

    .row {
      display: flex;
      flex: 1 1 0;

      .text-wrapper {
        display: flex;
        flex: 4 1 0;
        padding: 40px;
      }

      .image-wrapper {
        display: flex;
        flex: 3 1 0;
        padding: 20px 20px 0 20px;
        max-height: 300px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }


    }

  }

  .description {
    .title {
      margin-top: 100px;
      overflow: hidden;
      text-align: center;
      color: $darker;
      font-style: italic;
      font-size: 2rem;
    }

    .title:before,
    .title:after {
      content: "";
      display: inline-block;
      height: 3px;
      border-radius: 50px;
      position: relative;
      vertical-align: middle;
      width: 38%;
      background-color: $border;
    }

    .title:before {
      right: 0.5em;
      margin-left: -50%;
    }

    .title:after {
      left: 0.5em;
      margin-right: -50%;
    }

    h5 {
      padding: 5%;
      line-height: 2;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .text-wrapper {
      flex: 1 1 auto;

      .title {
        padding: 0 40px;
        overflow: hidden;
        text-align: right;
        color: $darker;
        font-style: italic;
        font-size: 2rem;
      }

      .title:after {
        content: "";
        display: inline-block;
        height: 3px;
        border-radius: 50px;
        position: relative;
        vertical-align: middle;
        width: 100%;
        background-color: $border;
      }

      .title:after {
        right: 0.5em;
        margin-left: -50%;
      }

      .details {
        padding: 40px;

        h5, h6 {
          margin-block-start: 0;
          margin-block-end: 0;
          padding: 10px;
        }

        h6 {
          color: $darker;
        }
      }


    }

    .map-wrapper {
      flex: 3 1 auto;
      background: url("../../img/photo galley (8).jpg") no-repeat;
      background-size: cover;
      margin: 25px;
      height: 500px;
    }
  }

  .footer {
    background: #3e3e46 url("../../img/footer.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 8px solid #9f89c2;

    .details {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      .logo {
        flex: 1 1 0;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          width: 250px;
          height: 250px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          color: white;

          img {
            width: 100%;
          }
        }
      }

      .site-map {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;

        span {
          color: white;
          display: block;
          padding: 50px 0 0 10px;
          font-size: 2.1rem;
          font-family: $fontThicker;
          position: relative;
          width: fit-content;

          .footer-slider-wrapper {
            position: absolute;
            right: 100%;
            top: 0;
            height: 100%;
            margin: 50px 0px 0 0;
            overflow: hidden;
            display: inline-block;
            padding: 0;

            .footer-slider {
              position: relative;
              height: 100%;
              display: inline-block;
              transform: translate(0, 0);
              animation: roller 19.98s cubic-bezier(0.82, 0.05, 0, 1.26) infinite;
              padding: 0;

              span {
                padding: 0;
                height: 100%;
                text-transform: lowercase;
                white-space: nowrap;
                display: block;
              }
            }
          }

        }

        .wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          min-width: 470px;

          .left {
          }

          .left, .right {
            display: flex;
            flex-direction: row;
            flex: 1 0 0;

            ul {
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              padding: 5px 35px;
              flex-direction: column;

              li {
                display: flex;
                width: 100%;
                line-height: 1;
                margin: 9px -5px;
                white-space: nowrap;
                font-size: 1.2rem;

                .item {
                  display: flex;
                  flex-direction: row;
                  align-items: baseline;
                  border-radius: 100px;
                  background-color: white;
                  transition: 0.2s ease-out;
                  width: 21%;

                  &:hover {
                    width: 100%;
                    border-radius: 50px;

                    a {
                      color: black;
                    }
                  }

                  .arrow {
                    width: 15px;
                    background-color: white;
                    padding: 10px;
                    border-radius: 50px;

                    img {
                      width: 15px;
                      transform: rotate(180deg);
                    }
                  }

                  a {
                    color: white;
                    text-decoration: none;
                    border-radius: 15px;
                    padding: 0 30px 0 20px;
                    transition: 0.5s ease-out;
                  }
                }
              }

            }
          }
        }
      }

      .contact {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;

        h2 {
          padding: 20px 40px 0 50px;
          font-size: 2.1rem;
          color: white;
          margin-block-end: 0;
        }

        div {
          padding: 2px;

          h5 {
            font-size: 1rem;
          }

          h6 {
            font-size: 0.7rem;
          }

          h5, h6 {
            color: #fff;
            margin-block-start: 0;
            margin-block-end: 0;
            padding: 4px 50px;
          }
        }

      }

      .newsletter {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;

        h2 {
          padding: 20px 50px 0 0;
          font-size: 2.1rem;
          color: white;
          margin-block-end: 0;
        }

        .inp {
          position: relative;
          margin: 20px;
          width: 80%;

          .label {
            position: absolute;
            top: 16px;
            right: 0;
            font-size: 16px;
            color: $gray;
            font-weight: 500;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            transition: all 0.2s ease;
          }

          .border {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            transition: all 0.15s ease;
          }

          input {
            -webkit-appearance: none;
            width: 100%;
            border: 0;
            font-family: inherit;
            padding: 12px 0;
            height: 20px;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 2px solid #C8CCD4;
            background: none;
            border-radius: 0;
            color: $gray;
            transition: all 0.15s ease;

            &:hover {
              background: rgba(34, 50, 84, 0.03);
            }

            &:not(:placeholder-shown) + span {
              -webkit-transform: translateY(-26px) scale(0.75);
              transform: translateY(-26px) scale(0.75);
            }

            &:focus {
              background: none;
              outline: none;
            }

            &:focus + span {
              -webkit-transform: translateY(-26px) scale(0.75);
              transform: translateY(-26px) scale(0.75);
            }


            &:focus + span + .border {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }


          }


        }

      }
    }

    .social {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .icons {
        display: flex;
        justify-content: space-around;
        padding: 20px 100px;

        a {
          .icon {
            width: 45px;
            height: 45px;
            margin: 10px;
          }

          #instagram {
            background: url("../../img/insta.png") no-repeat;
            background-size: cover;
          }

          #facebook {
            background: url("../../img/fb.png") no-repeat;
            background-size: cover;
          }

          #linkedin {
            background: url("../../img/linkedin.png") no-repeat;
            background-size: cover;
          }
        }
      }
    }

    .copyright {
      flex: 1 1 0;
      display: flex;
      justify-content: flex-start;

      h6 {
        padding: 13px;
        margin-block-end: 5px;
        margin-block-start: 5px;
        color: $gray;
        width: 100%;
        overflow: hidden;
        font-family: IRANSansWeb, "Lato", serif;

        b {
          color: white !important;
        }
      }

      h6:after {
        content: "";
        display: inline-block;
        height: 3px;
        border-radius: 50px;
        position: relative;
        vertical-align: middle;
        width: 100%;
        background-color: $gray;
      }

      h6:after {
        right: 0.5em;
        margin-left: -50%;
      }
    }
  }


  .gooddesign {
    display: flex;
    background-image: url("../../img/cubblestone-fa.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;

    * {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .description {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;

      .text-wrapper {
        width: 50%;
        padding: 80px 0;

        h1 {
          padding: 10px 50px;
          font-size: 3.5rem;
          font-weight: bolder;
        }

        h6 {
          padding: 20px 50px;
          line-height: 2;
        }

        .learn-more {
          margin: 20px 50px;
          cursor: pointer;
        }

      }
    }

    .titles {
      display: flex;
      width: 100%;
      justify-content: center;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      li {
        list-style: none;
        padding: 15px;
        //transition: 0.8s ease-in;


        a {
          color: black;
          text-decoration: none;
          padding: 5px;

          &:hover {
            border-bottom: 1px solid $darker;
            font-weight: bold;
          }
        }
      }
    }
  }

  .gooddesign-slide {
    display: flex;
    position: relative;
    background-image: url("../../img/waves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 40px 0;
    border-top: 15px white solid;

    * {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .description {
      display: flex;
      flex-direction: row;
      width: 100%;

      .text-wrapper {
        width: 48%;
        padding: 80px 0;

        h1 {
          padding: 10px 50px;
          font-size: 3rem;
          font-family: IRANSansWeb, "Lato", serif;
        }

        h6 {
          padding: 20px 60px;
          line-height: 2;
        }

        .learn-more {
          margin: 20px 50px;
          cursor: pointer;
        }
      }
    }

    .image-object {
      position: absolute;
      right: 48%;
      top: 20px;
      width: 330px;
      padding: 20px;
      transition: 0.3s ease;
      filter: drop-shadow(-15px 0 16px #444444aa);

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        width: 340px;
        filter: drop-shadow(-20px 0 20px #444444aa);
      }
    }

    .titles {
      display: flex;
      width: 100%;
      justify-content: center;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      li {
        list-style: none;
        padding: 15px;
        //transition: 0.8s ease-in;


        a {
          color: black;
          text-decoration: none;
          padding: 5px;

          &:hover {
            border-bottom: 1px solid $darker;
            font-weight: bold;
          }
        }
      }
    }
  }

  .collection {
    display: flex;
    background-image: url("../../img/plate.png");
    background-position: right -200px center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    border-bottom: 1px solid $gray;

    * {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .description {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;

      .text-wrapper {
        width: 50%;
        padding: 80px 0;

        h1 {
          padding: 10px 80px;
          font-size: 3.5rem;
          font-weight: bolder;
        }

        h6 {
          padding: 0 100px;
          line-height: 1.8;
        }

        .learn-more {
          margin: 50px 100px;
          cursor: pointer;
        }
      }
    }
  }

  .features {
    display: flex;
    padding: 120px 20px;

    .picture {
      flex: 3 0 0;
      position: relative;

      div {
        position: absolute;
        width: 330px;
        height: 330px;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 40px;
      }

      #one {
        background-color: #0fbbbf;
        transform: rotate(20deg);
        width: 300px !important;
        height: 300px !important;
      }

      #two {
        background-color: #201f27;
        transform: rotate(-20deg);
      }

      #three {
        background: url("../../img/port.jpg");
        background-size: cover;
        transition: 0.2s ease-in;

        &:hover {
          transform: rotate(-2deg);
          box-shadow: 4px 0 3px -2px;
        }
      }


    }

    .description {
      flex: 5 0 0;

      ul {
        display: flex;

        li {
          list-style: none;
          margin-right: 100px;

          a {
            text-decoration: none;
            padding: 3px 0;

            &:hover {
              border-bottom: 4px solid #9f89c2;
            }
          }
        }
      }

      h5 {
        padding: 0 40px;
        margin-block-end: 0.5em;
        line-height: 1.5;
        min-height: 110px;
      }

      h5.off {
        display: none;
      }

      .learn-more {
        margin: 20px 50px;
        cursor: pointer;
      }

    }
  }

  .ourcustomers {
    display: flex;
    flex-direction: column;
    background-color: $darkest;

    h1 {
      font-style: italic;
      font-size: 4.5rem;
      font-weight: bolder;
      font-family: "Lao UI", serif;
      text-align: center;
      margin-block-end: 1rem;
      color: white;
    }

    .logos {
      display: flex;
      justify-content: center;

      .item {
        margin: 30px;
        width: 200px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  .word-slider {
    display: flex;
    padding: 60px 20px;
    background-color: #ffffff94;
    background-image: url("../../img/texture5.png");
    background-size: cover;
    background-blend-mode: color;
    flex-direction: column;
    justify-content: center;

    h1, h4 {
      text-align: center;
      font-family: IRANSansWeb, "Lato", serif;
    }

  }

  .tiles-wrapper {
    box-sizing: border-box;
    border: 10px solid white;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    .tile {
      display: flex;
      flex: 1 1 0;
      background-color: #cefffc;
      justify-content: center;
      min-height: 601px;


      .xxx {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        flex-direction: column;
        position: relative;
      }

      .xx, .x {
        position: relative;
        display: flex;
        flex: 1 1 0;
        min-height: 300px;
      }

      .hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 239, 0.36);
        border: 5px solid white;
        box-sizing: border-box;
        transition: 0.5s ease;
        opacity: 0;

        h3 {
          font-size: 2rem;
          color: black;
        }

        .button {
          background-color: #0fbbbf;
          border-radius: 50px;
          display: flex;
          justify-content: space-between;

          div {
            width: 35px;
            height: 35px;
            background-color: darkorange;
            border-radius: 50px;
            margin: 15px;
          }
        }
      }

    }

    .top {
      flex-direction: row;
    }

    .bottom {
      flex-direction: row-reverse;
    }

    img {
      width: 100%;
      border: 5px solid white;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      box-sizing: border-box;
      min-height: 300px;
      transition: 0.1s ease;
    }

    .xxx:hover > img, .xx:hover > img, .x:hover > img {
      filter: blur(5px);
    }

    .xxx:hover > .hover, .xx:hover > .hover, .x:hover > .hover {
      opacity: 1;
    }


  }

  .video {
    position: relative;
    display: flex;
    height: 800px;
    background-image: url("../../img/girl.jpg");
    background-size: cover;

    .play {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      backdrop-filter: blur(3px);
      justify-content: center;
      align-items: center;

      .button {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding: 10px 35px;

        h2 {
          padding: 5px;
          margin: 0;
          font-size: 1.5rem;
        }

        img {
          margin: 0;
          padding: 10px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .gallery {
    display: flex;
    width: 100%;

    .description {
      display: flex;
      flex: 4 0 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .play {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          background-color: #404040;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          padding: 10px 35px;

          h2 {
            color: white;
            padding: 5px;
            margin: 0;
            font-size: 1.5rem;
          }

          img {
            margin: 0;
            padding: 10px;
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .image {
      display: flex;
      flex: 3 0 0;
      padding: 100px 0;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
        border-radius: 5px;
        box-shadow: 0 20px 13px #00000021;
      }
    }
  }

}

/* SUBMIT BUTTON AT FOOTER*/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  &.learn-more {
    width: 14rem;
    height: auto;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          right: 0.725rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            left: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-left: 0.125rem solid #fff;
            transform: rotate(-45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.45rem 0;
      font-size: 1.4rem;
      margin: 0 3.0rem 0 0;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &:hover {
    .circle {
      width: 100%;

      .icon {
        &.arrow {
          background: $white;
          transform: translate(-1rem, 0);
        }
      }
    }

    .button-text {
      color: $white;
    }
  }
}

.submit {
  outline: none;
  height: 40px;
  margin: 0 20px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #9f89c2;
  color: #9f89c2;
  letter-spacing: 1px;
  text-shadow: 0;
  font: {
    size: 12px;
    weight: bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: white;
    background: #9f89c2;
  }

  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px;
  }

  &:after {
    content: "ثبت";
  }
}

.onclic {
  width: 40px;
  border-color: $gray;
  border-width: 5px;
  font-size: 0;
  border-left-color: #9f89c2;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content: "";
  }

  &:hover {
    color: #9f89c2;
    background: white;
  }
}

.validate {
  font-size: 13px;
  color: white;
  background: #9f89c2;

  &:after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
}

/* SELECT LANGUAGE*/
.select-menu {
  --background: #242836;
  --text: #fff;
  --icon: #fff;
  --icon-active: #3F4656;
  --list: #1C212E;
  --list-text: rgba(255, 255, 255, .2);
  --list-text-hover: rgba(255, 255, 255, .5);
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  margin: 1.5em;

  select,
  .button {
    font-family: inherit;
    margin: 0;
    border: 0;
    text-align: right;
    text-transform: none;
    -webkit-appearance: none;
  }

  select {
    pointer-events: none;
    user-select: none;
    opacity: 0;
    padding: 8px 36px 8px 12px;
    visibility: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(var(--t));
    transition: opacity .3s ease, transform .4s cubic-bezier(.2, .9, .4, 1.1);

    li {
      padding: 8px 12px 8px 36px;
      cursor: pointer;
    }
  }

  & > ul {
    background: var(--list);
    color: var(--list-text);
    border-radius: 6px;

    li {
      transition: color .3s ease;

      &:hover {
        color: var(--list-text-hover);
      }
    }
  }

  .button {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 6px;
    color: var(--text);
    background: var(--background);

    em {
      --r: 45deg;
      display: block;
      position: absolute;
      left: 12px;
      top: 0;
      width: 7px;
      height: 7px;
      margin-top: 13px;
      -webkit-backface-visibility: hidden;

      &:before,
      &:after {
        --o: .4;
        content: '';
        width: 7px;
        height: 7px;
        opacity: var(--o);
        display: block;
        position: relative;
        transition: opacity .2s ease;
        transform: rotate(var(--r)) scale(.75);
      }

      &:before {
        border-left: 2px solid var(--icon);
        border-top: 2px solid var(--icon);
        top: 1px;
      }

      &:after {
        border-right: 2px solid var(--icon);
        border-bottom: 2px solid var(--icon);
        bottom: 1px;
      }
    }
  }

  &:not(.open) {
    & > ul {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.open {
    &.tilt-up {
      animation: tilt-up .4s linear forwards;

      .button {
        em {
          &:before {
            --o: 1;
          }
        }
      }
    }

    &.tilt-down {
      animation: tilt-down .4s linear forwards;

      .button {
        em {
          &:after {
            --o: 1;
          }
        }
      }
    }
  }
}

@keyframes tilt-up {
  40%,
  60% {
    transform: perspective(500px) rotateX(8deg);
  }
}

@keyframes tilt-down {
  40%,
  60% {
    transform: perspective(500px) rotateX(-8deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 1280px) {
  .container {

    .gooddesign {
      .description {
        .text-wrapper {
          width: 60%;
          padding: 15px 0;

          h1 {
            font-size: 3.4rem;

          }

          h6 {
            padding: 10px 50px;
            font-size: 1rem;
          }

          .readmore {
            padding: 10px 50px;

            img {
              padding: 20px;
              width: 20px;
            }

            h4 {
              font-size: 1.6rem;
            }
          }
        }
      }

      .titles {
        width: 60%;
        margin: auto;
      }
    }

    .portrait, .portrait2 {
      h2 {
        font-size: 4rem;
        overflow: hidden;

      }

      img {
        width: 40vw;
      }
    }

    .half-slider {
      .hstext-wrapper {
        flex: 2 1 50%;

        h1 {
          font-size: 4rem;
        }

        h6 {
          font-size: 1.2rem;
        }
      }

      .hs-wrapper {
        flex: 2 1 50%;
      }
    }

    .collection {
      background-size: 600px;
.description{
.text-wrapper{
  h6{
    padding: 0 30px;
  }
}
}
    }

    .features {
      .picture {
        #one {
          width: 270px !important;
          height: 270px !important;
        }

        div {
          width: 280px;
          height: 280px;
        }
      }
    }

  }

}

@media all and (max-width: 980px) {
  .container {
    section.home {
      .logo {
        img {
          width: 90px;
        }
      }

      .navbar {
        .nav {
          margin-top: 1em;
          margin-left: 0;

          ul {
            margin: 1em;
            font-size: 0.8rem;
          }
        }
      }

      .description {
        .home-title {
          margin-left: 80px;

          h1 {
            width: 350px;
            font-size: 2.2rem;
          }

          h6 {
            font-size: 1rem;
          }
        }

        .scroll {
          width: 40px;
          height: 40px;
        }
      }

    }

    .collection {
      background-size: 600px;

      .description {
        .text-wrapper {
          h1 {
            font-size: 4.5rem;
          }

          .readmore {
            padding: 50px 70px;
          }
        }
      }
    }

    .fsymbol {
      font-size: 20rem;
    }

    .header {

      ul {
        li {
          font-size: 1.1rem;
          margin: 0 15px !important;
        }
      }

      .lang {
        font-size: 0.8rem;

        img {
          width: 30px;
        }
      }
    }

    .portrait, .portrait2 {
      h2 {
        font-size: 3rem;
      }

      img {
        width: 30vw;
      }
    }

    .artboard {
      .title-wrapper {
        h1 {
          font-size: 4.5rem;
        }

        h6 {
          font-size: 1rem;
        }
      }
    }

    .services {
      h2 {
        font-size: 2.5rem;
      }
    }

    .half-slider {
      text-align: center;

      .hstext-wrapper {
        flex: 1 1 auto;

        h1 {
          font-size: 4rem;
        }

        h6 {
          font-size: 1.2rem;
        }
      }

      .hs-wrapper {
        flex: 1 1 auto;
        background-position-y: -100px;
        height: 500px;
      }
    }

    .info {
      .map-wrapper {
        width: 100%;
      }
    }

    .gooddesign {
      .description {
        .text-wrapper {
          width: 60%;

          h1 {
            font-size: 2.4rem;
          }

          h6 {
            padding: 10px 50px;
            font-size: 0.8rem;
          }

          .readmore {
            img {
              padding: 12px;
              width: 12px;
            }

            h4 {
              font-size: 1rem;
            }
          }
        }
      }

      .titles {
        width: 100%;
        margin: auto;

        ul {
          li {
            font-size: 1.2rem;
            padding: 20px 5px;
          }
        }
      }
    }

    .features {
      padding: 50px 10px;

      .picture {
        margin: 20px;

        #one {
          width: 200px !important;
          height: 200px !important;
        }

        div {
          border-radius: 20px;
          width: 210px;
          height: 210px;
        }
      }

      .description {
        h5 {
          font-size: 1rem;
        }

        ul {
          li {
            margin-right: 20px;

            a {
              font-size: 1.5rem;
            }
          }
        }

        .readmore {
          img {
            width: 10px;
            padding: 8px;
          }
        }
      }
    }

  }
  .lang {
    .select-menu {
      margin-top: 2.4em;

      .button {
        em {
          margin-top: 8px;

          &::before, &::after {
            width: 5px;
            height: 5px;
          }
        }
      }

      select {
        padding: 8px 9px 8px 9px;
        line-height: 15px;
      }

      ul {
        li {
          font-size: 0.5rem;
          padding: 3px 12px 0px 10px;
        }
      }
    }
  }
}

@media all and (max-width: 736px) {
  .container {

    section.home {
      .logo {
        margin: 15px 25px;

        img {
          width: 80px;
        }
      }

      .navbar {
        .nav {
          margin-top: 1em;
          width: 60%;

          ul {
            margin: 1em;
            font-size: 0.6rem;
          }
        }
      }

      .description {
        height: 100px;

        .home-title {
          margin-left: 20px;

          h1 {
            width: 300px;
            font-size: 1.5rem;
          }

          h6 {
            font-size: 0.6rem;
          }
        }

        .scroll {
          width: 30px;
          height: 30px;
        }
      }
    }

    section.collection-home {
      .shadow-text {
        font-size: 12vh;
      }
    }

    .fsymbol {
      font-size: 15rem;
    }

    .header {
      justify-content: flex-end !important;

      ul {
        li {
          margin: 0 5px !important;
          color: #ce79d3;
        }
      }

      .lang {
        img {
          width: 20px;
        }
      }
    }

    .portrait, .portrait2 {
      height: 80vh;

      h2 {
        font-size: 2rem;
      }
    }

    .portrait2 {
      background-size: cover;
    }

    .artboard {
      .title-wrapper {
        margin: 0;

        h1 {
          font-size: 4rem;
        }

        h6 {
          font-size: 0.8rem;
        }
      }
    }

    .half-slider {
      .hs-wrapper {
        height: 400px;
      }
    }

    .sponsorship {
      .row {
        flex-direction: column-reverse;
      }
    }

    .collection {
      background-size: 350px;
      background-position: right -160px center;

      .description {
        .text-wrapper {
          padding: 20px 0;

          h1 {
            padding: 10px 30px 0 30px;
            font-size: 3.5rem;
          }

          h6 {
            padding: 0 0 0 35px;
            font-size: 0.6rem;
          }

          .readmore {
            padding: 50px 0 50px 30px;

            img {
              width: 10px;
              padding: 12px;
            }

            h4 {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .gooddesign {
      .description {
        .text-wrapper {
          width: 75%;
          padding: 60px 0;

          h1 {
            font-size: 2rem;
          }

          h6 {
            font-size: 0.5rem;
          }

          .readmore {
            img {
              width: 8px;
              height: 8px;
              padding: 8px;
            }

            h4 {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .gooddesign-slide {
      .image-object {
        width: 230px;
        filter: drop-shadow(-5px 0 6px #444444aa);

        &:hover {
          width: 240px;
          filter: drop-shadow(-10px 0 10px #444444aa);
        }
      }

      .description {
        .text-wrapper {
          h1 {
            padding: 5px 25px;
            font-size: 1.5rem;
          }

          h6 {
            padding: 10px 30px;
            line-height: 1.5;
          }

          .readmore {
            padding: 10px 25px;

            h4 {
              font-size: 1.5rem;
              padding: 0 10px;
            }

            img {
              padding: 10px;
              width: 10px;
            }
          }
        }
      }
    }

    .gallery {
      .description {
        .play {
          .button {
            padding: 5px 17px;

            h2 {
              padding: 2px;
              font-size: 1rem;
            }

            img {
              padding: 8px;
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    .tiles-wrapper {
      .tile {
        .hover {
          h3 {
            font-size: 0.6rem;
          }

          .button {
            div {
              width: 17px;
              height: 17px;
              margin: 7px;
            }
          }
        }
      }
    }

    .features {
      padding: 50px 10px;

      .picture {
        margin: 0;

        #one {
          width: 140px !important;
          height: 140px !important;
        }

        div {
          background-position: center;
          border-radius: 18px;
          width: 150px;
          height: 150px;
        }
      }

      .description {
        h5 {
          font-size: 0.8rem;
        }

        ul {
          li {
            margin-right: 18px;

            a {
              font-size: 1.2rem;
            }
          }
        }

        .readmore {
          img {
            width: 10px;
            padding: 8px;
          }

          h4 {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
.lang{
  .select-menu{
    margin: 2.4em 0 0 6em;
  }
}
}

@media all and (max-width: 480px) {
  .container {

    section.home {
      .logo {
        margin: 5px 15px;

        img {
          width: 40px;
        }
      }

      .navbar {
        .nav {
          margin-top: 0.5em;
          width: 60%;

          ul {
            margin: 0.8em;
            font-size: 0.3rem;
li{
  padding: 0 8px;
}
          }
        }
      }

      .description {
        height: 50px;

        .home-title {
          margin-left: 15px;

          h1 {
            width: 150px;
            font-size: 1rem;
          }

          h6 {
            font-size: 0.3rem;
          }
        }

        .scroll {
          width: 10px;
          height: 10px;
        }
      }
    }

    .fsymbol {
      display: none;
    }

    .header {
      justify-content: center !important;
      flex-direction: column;
      text-align: center;

      .lang {
        display: block;
        position: relative;
      }
    }

    .portrait, .portrait2 {
      height: 60vh;

      h2 {
        padding: 20px;
        font-size: 1.5rem;
      }
    }

    .customers {
      h2 {
        font-size: 2.5rem;
        text-align: center;
        padding: 5px;
      }
    }

    .half-slider {
      .hs-wrapper {
        height: 200px;
      }
    }

    .gooddesign {
      .description {
        .text-wrapper {
          width: 75%;
          padding: 30px 0;

          h1 {
            font-size: 0.8rem;
            padding: 0 0 0 48px;
          }

          h6 {
            padding: 0 10px 0 48px;
            font-size: 0.3rem;
          }

          .readmore {
            img {
              width: 5px;
              height: 5px;
              padding: 4px;
            }

            h4 {
              font-size: 0.5rem;
              padding: 0 10px;
            }
          }
        }
      }

      .titles {
        ul {
          li {
            font-size: 0.8rem;
          }
        }
      }
    }

    .collection {
      background-size: 180px;
      background-position: right -100px center;

      .description {
        .text-wrapper {
          padding: 20px 0;

          h1 {
            padding: 10px 30px 0 30px;
            font-size: 1.5rem;
          }

          h6 {
            padding: 0 0 0 35px;
            font-size: 0.3rem;
          }

          .readmore {
            padding: 20px 0 20px 30px;

            img {
              width: 5px;
              padding: 4px;
            }

            h4 {
              padding: 0 10px;
              font-size: 0.4rem;
            }
          }
        }
      }
    }

    .features {
      padding: 5px 5px;

      .picture {
        margin: 10px;

        #one {
          width: 90px !important;
          height: 90px !important;
        }

        div {
          border-radius: 12px;
          width: 100px;
          height: 100px;
        }
      }

      .description {
        h5 {
          font-size: 0.5rem;
        }

        ul {
          li {
            margin-right: 15px;

            a {
              font-size: 0.5rem;
            }
          }
        }

        .readmore {
          img {
            width: 8px;
            padding: 5px;
          }

          h4 {
            font-size: 0.5rem;
          }
        }
      }
    }

    .ourcustomers {
      h1 {
        font-size: 1.8rem;
      }

      .logos .item {
        margin: 20px;
        width: 100px;
      }
    }

    .footer {
      .details {
        .logo div {
          width: 190px !important;
          height: 190px !important;
        }

        .site-map .wrapper {
          min-width: auto;

          .right, .left {
            ul li {
              font-size: 0rem;

              .item {
                a {
                  font-size: 0.8rem;
                }

                .arrow {
                  padding: 8px;

                  img {
                    width: 11px;
                  }

                }

              }
            }
          }
        }
      }
    }
  }
  .lang {
    .select-menu {
      margin: 1.5em 0 0 5em;
      line-height: 15px;

      .button {
        em {
          margin-top: 4px;
          left: 7px;

          &::before, &::after {
            width: 3px;
            height: 3px;
          }

          &::before {
            border-left: 1px solid var(--icon);
            border-top: 1px solid var(--icon);
          }

          &::after {
            border-right: 1px solid var(--icon);
            border-bottom: 1px solid var(--icon);
          }
        }
      }

      select {
        padding: 0 5px 0 5px;
        line-height: 15px;
        font-size: 8px;
      }

      ul {
        li {
          font-size: 0.3rem;
          padding: 0 5px 0 5px;
        }
      }
    }
  }
}

